@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, html {
  text-align: center;
}

h1 {
  background-color: royalblue;
  height: 4rem;
  line-height: 4rem;
}

.choice {
  height: 165px;
  width: 165px;
}

.choice:hover {
  opacity: 0.2;
  cursor: pointer;
}

img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.choices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem;
}

@media (max-width: 768px) {
  .choices-container {
    margin: 2rem;
  }
}

.scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}

#comp-score, #user-score {
  font-size: 1.2rem;
}

.msg-container {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .msg-container {
    font-size: 1.5rem; 
    padding: 0.5rem; 
  }
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
